<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {%- include header.html -%}
    <div class="p-10 flex flex-col md:flex-row md:mt-28 font-mono">
      <div class="md:w-2/3 p-4">{{ content }}</div>

      <aside class="md:w-1/3 p-4 shadow-pink shadow-2xl">
        {%- include sidebar.html -%}
      </aside>
    </div>

    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
