<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="font-mono bg-no-repeat bg-[url('/assets/img/wave.svg')]">
    {%- include header.html -%}
    <div
      class="md:p-10 flex flex-col md:flex-row pb-[120px] items-center justify-center gap-x-8"
    >
      <div class="max-w-2xl p-4">{{ content }}</div>

      <aside class="p-4 shadow-pink shadow-2xl">
        {%- include sidebar.html -%}
      </aside>
    </div>

    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
